django==5.2.9
pytz>=2022.2.1
tzdata>=2022.2
environs[django]>=9.5.0
open-tamil>=1.1
tamilinayavaani>=0.14
python-dateutil
psycopg2-binary
scipy>=1.12.0
gensim>=4.3.2
scikit-learn>=1.5.0
anicham>=0.0.6
